<!doctype html>
<html lang="en" ng-app="relevancyApp">
<head>
  <meta charset="utf-8">
  <title>Relevancy Tool</title>
  <script src="js/angular.min.js"></script>
  <script src="js/controllers.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
</head>
<body>
<div ng-controller="SiteCtrl as siteCtrl">
  <p>
  <form ng-submit="createSnapshot(snapshotName)">
    <label for="name">Name</label><input id="snapshotName" ng-model="snapshotName"/><br/>
    <button type="submit">Create snapshot</button>
  </form>
  </p>
  <form ng-submit="removeSite(currentSite)">
    <select ng-model="currentSite" ng-options="site.name for site in sites">
      <option value="">-- choose site --</option>
    </select>
    <button type="submit">Remove</button>
  </form>
  <form ng-submit="addSite(name, code, apiUrl, contentUrl, fields)">
    <label for="name">Name</label><input id="name" ng-model="name"/><br/>
    <label for="code">Code</label><input id="code" ng-model="code"/><br/>
    <label for="apiUrl">Api Url</label><input id="apiUrl" ng-model="apiUrl"/><br/>
    <label for="contentUrl">Content Url</label><input id="contentUrl" ng-model="contentUrl"/><br/>
    <label for="fields">Fields</label><input id="fields" ng-model="fields"/><br/>
    <button type="submit">New Site</button><br/>
  </form>

  <br/>

  <div ng-repeat="site in sites">
    <div ng-controller="CaseCtrl as caseCtrl" ng-show="caseCtrl.showDetails(site)">
      <h1>{{site.name}}</h1>
      <form ng-submit="caseCtrl.removeCase(caseCtrl.currentCase)">
        <select ng-model="caseCtrl.currentCase" ng-options="case.name for case in caseCtrl.cases" ng-change="caseCtrl.setCase(caseCtrl.currentCase)">
          <option value="">-- choose case --</option>
        </select>
        <button type="submit">Remove</button>
      </form>
      <form ng-submit="caseCtrl.addCase(caseName)">
        <input ng-model="caseName"/>
        <button type="submit">New Case</button>
      </form>

      <div ng-repeat="case in caseCtrl.cases">
        <div ng-controller="QueryCtrl as ctrl" ng-show="ctrl.showDetails(site, caseCtrl.currentCase)">
          <h1>{{case.name}}</h1>
          <form ng-submit="ctrl.addQuery(query)">
            <input ng-model="query"/>
            <button type="submit">New Query</button>
          </form>
          <div ng-repeat="query in ctrl.queries" ng-controller="QueryDetailCtrl as ctrl" style="border-style: solid; border-width: 1px; margin-top: 10px;">
            <span ng-model="ctrl.toggleCue">{{ctrl.toggleCue}}</span><span ng-click="ctrl.toggleDetails()">{{query.name}}</span>
            <span ng-model="ctrl.score">{{ctrl.score}}</span>

            <div ng-show="ctrl.showDetails">
              <div ng-repeat="product in ctrl.results">
                <div ng-controller="ProductCtrl as ctrl">
                  <img src="http://content.backcountry.com{{product.skus[0].image.url}}" alt="{{product.id}}" height="100" width="100"/>

                  <p>{{product.brand.name}} - {{product.title}}</p>
                  <select ng-model="ctrl.judgement.score" ng-change="ctrl.saveScore()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
              <span ng-model="ctrl.results">Found {{ctrl.results.metadata.found}} results</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>