<div ng-repeat="site in sites" ng-controller="" ng-show="caseCtrl.showDetails(site)">

    <div ng-if="!current._case" class="row">
        <div class="col-xs-12">
            <h2>{{site.name}} Cases</h2>
            <br/>
        </div>
        <div class="col-xs-4" ng-repeat="case in caseCtrl.cases" ng-controller="QueryCtrl as ctrl">
            <div class="panel panel-default case" ui-sref="home" ng-click="setCurrentCase(case)">
                <div class="panel-heading">
                    <h4>{{case.name}}</h4>
                    <span class="score score-{{case.score}}"></span>
                </div>
                <div class="panel-body">
                    <div class="col-xs-6">
                        <p><u>Query Rankings</u></p>
                        <ul class="list-unstyled">
                            <li>{{case.queries | size}} queries</li>
                            <li>- ranked</li>
                            <li>- incomplete</li>
                        </ul>
                    </div>

                    <div class="col-xs-6">
                        <p><u>Results Rankings</u></p>
                        <ul class="list-unstyled">
                            <li>{{case.queries | size}} queries</li>
                            <li>- ranked</li>
                            <li>- incomplete</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div ng-if="current._case && !current._query" class="row">
        <div class="col-xs-12">
            <h2>{{current._case.name}} Queries</h2>
            <br/>
        </div>
        <div class="col-xs-4" ng-repeat="query in current._case.queries">
            <div class="panel panel-default case" ng-click="setCurrentQuery(query)">
                <div class="panel-heading">
                    <h4>{{query.name}}</h4>
                    <span class="score score-{{current._case.score}}"></span>
                </div>
                <div class="panel-body">
                    <p><u>Results Rankings</u></p>
                    <ul class="list-unstyled">
                        <li>{{query.results | size}} results</li>
                        <li>{{query.judgements | size}} ranked</li>
                        <li>{{(query.results | size) - (query.judgements | size)}} incomplete</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






    <div ng-if="current._query" class="row">
        <div class="col-xs-12">
            <h2>"{{current._query.name}}" Results</h2>
            <br/>
        </div> 
        <div class="col-xs-2" ng-repeat="product in current._query.results" ng-controller="ProductCtrl as ctrl">  
            <div class="panel panel-default product">
                <span class="score score-{{ctrl.judgement.score}}"></span>
                <img src="http://content.backcountry.com{{product.skus[0].image.url}}" alt="{{product.id}}"/>
                <p>{{product.brand.name}} {{product.title}}</p>
                <select class="form-control" ng-model="ctrl.judgement.score" ng-change="ctrl.saveScore()">
                    <option disabled value="0">Rating</option>
                    <option ng-repeat="val in [1,2,3,4,5,6,7,8,9,10]" value="{{val}}">{{val}}</option>
                </select>
            </div>
        </div>
    </div>
</div>






<div class="row admin">
    <div class="col-xs-12">
        <h1>Admin</h1>
    </div>

    <div class="col-xs-3">
        <h3>Add Site</h3>
        <form ng-submit="addSite(name, code, apiUrl, contentUrl, fields)">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" ng-model="name"/>
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input class="form-control" id="code" ng-model="code"/>
            </div>
            <div class="form-group">
                <label for="apiUrl">Api Url</label>
                <input class="form-control" id="apiUrl" ng-model="apiUrl"/>
            </div>
            <div class="form-group">
                <label for="contentUrl">Content Url</label>
                <input class="form-control" id="contentUrl" ng-model="contentUrl"/>
            </div>
            <div class="form-group">
                <label for="fields">Fields</label>
                <input class="form-control" id="fields" ng-model="fields"/>
            </div>
            <button class="btn btn-success" type="submit">New Site</button>
        </form>

        <h3>Remove Site</h3>
        <form ng-submit="removeSite(currentSite)">
            <div class="form-group">
                <select class="form-control" ng-model="currentSite" ng-options="site.name for site in sites">
                    <option disabled value="">Choose Site</option>
                </select>
            </div>
            <pre>{{sites | json}}</pre>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Remove</button>
            </div>
        </form>
    </div>

    <div class="col-xs-3">
        <h3>Add Case</h3>
        <form ng-submit="caseCtrl.addCase(caseName)">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" ng-model="caseName"/>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">New Case</button>
            </div>
        </form>

        <h3>Remove Case</h3>
        <form ng-submit="caseCtrl.removeCase(caseCtrl.currentCase)">
            <div class="form-group">
                <select class="form-control" ng-model="current._case">
                    <option disabled value="">Choose Case</option>
                    <option ng-repeat="case in current._site.cases" value="">{{case.name}}</option>
                </select>

                <pre>{{current._site.cases | json}}</pre>
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Remove</button>
            </div>
        </form>
    </div>

    <div class="col-xs-3">
        <h3>Add Query</h3>
        <form ng-submit="queryCtrl.addQuery(queryName)">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" ng-model="queryName"/>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">New Query</button>
            </div>
        </form>

        <h3>Remove Query</h3>
        <form ng-submit="queryCtrl.addQuery(queryName)">
            <div class="form-group">
                <label for="name">Name</label>
                <select name="" ng-model="current._query" ng-options="query.name for query in current._site.cases" ></select>
                <input class="form-control" ng-model="queryName"/>
            </div>
            <pre>{{current._query | json}}</pre>
            <pre>{{current._site.cases | json}}</pre>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Remove Query</button>
            </div>
        </form>
    </div>

    <div class="col-xs-3">
        <h3>Create Snapshot</h3>
        <form ng-submit="createSnapshot(snapshotName)">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="snapshotName" ng-model="snapshotName"/>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">New Snapshot</button>
            </div>
        </form>
    </div>
</div>
