<div class="row">
    <div class="col-xs-12 title">
        <h2><span class="text-muted">Results for</span> "{{query.name}}" <span class="label score-{{query.score | simpleScore}} pull-right" ng-bind="query.score"></span></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="product in results" ng-controller="ProductCtrl as productCtrl">
        <div class="panel panel-default product">
            <span class="label score-{{productCtrl.judgement.score}}">{{productCtrl.judgement.score}}</span>
            <img src="http://content.backcountry.com{{product.skus[0].image.url}}" alt="{{product.id}}"/>
            <p>{{product.brand.name}} {{product.title}}</p>
            <select class="form-control" ng-model="productCtrl.judgement.score" ng-change="productCtrl.saveScore()">
                <option disabled value="">Rating</option>
                <option ng-repeat="val in [1,2,3,4,5,6,7,8,9,10]" value="{{val}}">{{val}}</option>
            </select>
        </div>
    </div>
</div>